* {
  font-family: 'Noto Sans SC', sans-serif;
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 1.6em;
}
nav {
  text-transform: uppercase;
}
p {
  font-size: 0.8em;
}
.jumbotron {
  background: url('img/jumbo.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.article-gallery {
  display: flex;
}

.article-img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  padding-top: 10px;
}

.article-gallery > div:not(:last-child) {
  margin-right: 1%;
}

.in-memoriam {
  outline: 1px solid black;
}
