* {
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 1.6em;
}
nav {
  text-transform: uppercase;
}
/* p {
  font-size: 0.8em;
} */
.jumbotron {
  background: url('img/jumbo.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.article-gallery {
  display: flex;
}

.article-img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  padding-bottom: 10px;
}

.article-gallery > div:not(:last-child) {
  margin-right: 1%;
}

.in-memoriam {
  outline: 1px solid black;
}

.author {
  height: 220px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  /* float: left; */
}

.thumb {
  height: 88px;
  /* float: left; */
  /* padding: 10px; */
}

td {
  vertical-align: bottom !important;
}

ul.accolades {
  font-size: 0.8em;
}

ul.articles {
  list-style-type: none;
}

.caption {
  font-size: 0.7em;
  text-align: left;
  display: list-item;
  list-style-type: '\25FC';
  list-style-position: inside;
}
